<nav>
    <div class="header-container">
        <div class="logo" style="display: flex; list-style: none; padding: 0; margin: 0; color: #00ff00;">
            <a href='/' style="text-decoration: none; padding: 0 20px; color: #00ff00;"><h1>Fora</h1></a>
        </div>
        <nav>
            <ul style="display: flex; list-style: none; padding: 0; margin: 0; color: #00ff00;">
                <li><a href="/user/{{id}}" style="text-decoration: none; padding: 0 20px; color: #00ff00;">Profile</a></li>
                <li><a href="#" style="text-decoration: none; padding: 0 20px; color: #00ff00;">Link 2</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Search..." aria-label="Search">
            <button type="button">Search</button>
        </div>
    </div>
</nav>